@import url('https://fonts.googleapis.com/css?family=Caveat');

html, body {
    height: 100%;
  }
  body {
    background: rgb(30, 57, 85);
    display: flex;
    text-align: center;
  }
  .card {
    width: 420px;
    padding: 20px;
    background: white;
		margin: auto;
		/* transition for box shadow */
    transition: 0.3s ease-in-out;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  .card:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 1.0);
  }
  .card:hover .title {
    background-position: -100% 0;
  }
  .title {
      /* highlight color */
		background: linear-gradient(to right,rgba(255, 255, 255, 0) 50%, rgb(244, 255, 145) 100%);
    background-size: 200%;
    /* speed of highlight */
		transition: 0.7s ease-in-out;
		font-family: 'Caveat', cursive;
		color: black;
		text-decoration: none !important;
		padding-bottom: 5px;
		line-height: 2;
  }
  
 
  